

<%= render('layouts/errors', :object => @contribution) %>

<%= form_for [@story, @contribution] do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :sentence %>
  <%= f.text_field :sentence %>
  <p><%= f.submit %></p>
<% end %>
