<h1>  <%= @story.title %> </h1> <h4> <%= @story.description  %> </h4>

<% if @story.contributions.any? %>
<h3>Contributions:</h4>

  <% @story.contributions.each do |contribution| %>
  <img src="<%= contribution.image %>">
  <h3>
    Story by <%= contribution.username %>
  </h5>
  <h4> Story : <%= contribution.sentence %> </h6>
    <button> <%= link_to "Edit", edit_story_contribution_path(@story, contribution) %> </button>
    <button> <%= link_to "Delete", story_contribution_path(@story, contribution),
    :data => {:confirm => "You sure?", :method => "Delete"} %> </button>
    <br>
  <hr>
  <% end %>
<br>



<% else %>
  <p>There are no contributions yet!</p>
<% end %>


<h2> Recent contributions: </h2>

<% @recent.each do |contribution| %>
<img src="<%= contribution.image %>">
<h3>
  Story by <%= contribution.username %>
</h5>
<h4> Story : <%= contribution.sentence %> </h6>
<hr>
<% end %>


<p> <%= link_to "Contribute to this story" , new_story_contribution_path(@story)%> </p>

<p> <%= link_to "Return to stories list", stories_path %></p>
<p> <%= link_to "Edit", edit_story_path(@story) %> </p>
<p> <%= link_to "Delete", story_path(@story),
:data => {:confirm => "You sure?", :method => "Delete"} %> </p>
